.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #1e293b;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.link:hover {
    color: #38bdf8;
}

.logout-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background: white;
    color: #1e293b;
}